

#main {
    display: block;
    padding: 0.5vmin 30vmin 0px 30vmin;
    display: block;
    height: auto;
}

/*
.back-img{
    background: url("https://i.postimg.cc/sDZfwfQ3/Firefox-wallpaper.png");
    opacity: 0.5;
}
*/

h1 {
    font-family: 'Fira Sans', monospace;
    font-size: 10vmax;
}   
p {
    width: 80vw;
}
img {
    max-width: 80%;
    display: block;
    height: auto;           
}         

