html,body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
#main {
    

}



.brand{
    margin-top: 10%; 
}
.back{
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 0px 10vmax 0px 10vmax;
    text-align: justify;
    
    
}
.timeline {
    padding: 0px 5vmax 0px 5vmax;
}
.italic {
    padding: 0px 5.5vmax 0px 5.5vmax;

}

h1 {
    height: auto;
    font-family: 'Fira Sans', monospace;
    font-size: 8vmax;
    text-align: center;
}   
h2 {
    text-align: center;

}
h3 {
    
}
p {
    text-align: justify;
    line-height: 1.3em;
}
ul {
    
}
ol {
    text-align: left;
}

img {
    height: auto;
   max-height: 300px;
   width: auto;
   max-width: 200px;
   margin: 5%;

}         

50%;
.same-pal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-flow: row;
    flex-grow: 1;

}
