
/*
#main {
    

}
body {
    text-align: center;
}


.back-img{
    background: url("https://i.postimg.cc/sDZfwfQ3/Firefox-wallpaper.png");
    opacity: 0.5;
}


h1 {
    padding: 0vmin 30vmin 0px 30vmin;
    height: auto;
    font-family: 'Fira Sans', monospace;
    font-size: 9vmax;
}   
p {
    text-justify: distribute-all-lines;
    padding: 10px 40vmin 0px 40vmin;
}
img {
    padding: 0vmin 30vmin 0px 30vmin;
    max-width: 40%;
    display: block;
    height: auto;           
}         

*/
