body {
    background-color: #dcdcdc;
}
main {
    position: absolute;
    left: 310px;
    padding: 20px;
    text-align: justify;
}
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 250px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-block: solid;
    background-color: #ffffff;
    z-index: auto;
}
#navbar ul {
    height: 100%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;

    
}
#navbar li {
    color: #a9a9a9;
    border-top: 1px solid;
    width: 100%;
    list-style: none;
    position: relative;
    padding: 10px 30px;
    display: block;
}
#navbar a{
    text-decoration: none;
    color: black;
    
}
i{
    background-color: #a9a9a9;
}