@media(max-width:600px){
    body {
       font-size:2rem;
     }
   }
html{
    background-color: aliceblue;
    
}
.block {
    display: block;
    text-align: center;
    padding: 5vmax 10vmax 2px 10vmax; 
/*     background-color: aquamarine; */
    
    
}
.logo {
        float:left;
       
        display:block;
        margin:;
          padding:;
}
 #nav-bar {
    background-color: yellow;
    margin: 10px;
    flex-wrap: wrap;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
} 
div, form {
    margin: 15px;
}
h2 {
    font-family: 'Libre Franklin', sans-serif;
}

img {
    display: block;
    height: 10%;
    width: auto;
}

#video {
    margin: auto%;
}
#video, div, form {
/*     background-color: aqua; */
}
-nabbar-link {
    display: flex;
}
#originals {
    text-align: left;
}
#faq {
    text-align: center;
}
#pricing {
    text-align: right;
}